body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    position: relative; 
}


.profile-info {
    text-align: center;
    margin-bottom: 20px;
}

.profile-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.new-post-form {
    margin-top: 20px; 
    text-align: center; 
}

.new-post-form textarea {
    width: calc(100% - 22px); 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    margin: 0 auto;
    display: block; 
}

.new-post-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.new-post-form button:hover {
    background-color: #0056b3;
}

.logout-link {
    text-decoration: none;
    color: #007bff;
}

.post-container {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.post {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.show-users-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.show-users-button:hover {
    background-color: #0056b3;
}

.user-list {
    list-style: none;
    padding: 0;
}

.user-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.user-list li:last-child {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color:black;
}

a:active {
    color: inherit; 
}
.logout {
    background-color: rgb(201, 0, 0);
}
.logout:hover {
    background-color: darkred;
}

.smaller-text {
    font-size: 12px; 
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}


.vertical-nav {
    width: 100px; 
    background-color: #fff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.vertical-nav ul {
    list-style: none;
    padding: 0;
}

.vertical-nav ul li {
    margin-bottom: 10px;
}

.vertical-nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.vertical-nav ul li a:hover {
    background-color: #007bff;
    color: #fff;
}

.profile-container {
    flex-grow: 1;
    margin: 0 auto;
    max-width: 600px; 
    background-color: #fff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}